
// both front page and section home pages




// specific blocks -----------------------------------------

#recent
	+span-columns(4)
	margin-right: 0
	
#lede-narrow
	+span-columns(8)
			
#most-read
	+span-columns(6)

#subscribe
	+span-columns(6)
	margin-top: 0.25em
	padding: 0.5em
	height: 17em
	background-color: $cB-light
	h3
		margin-top: 0
		text-align: left
		color: $cB