

.sequence-image
	+outer-container

.sequence-image ul
    margin: 0
    padding: 0

.sequence-image li
    list-style-type: none
    margin: 0
    padding: 0

.sequence__hd
	+span-columns(6)
	+respond-to($mid-screen)
		+span-columns(12)
	padding-top: 2.75em

.sequence__hd h1
    font-size: 2em
.sequence__hd .kicker
    margin: 0 0 0 0

.sequence__meta
	+span-columns(4)
    margin-right: 0
	padding-top: 3em
	+shift(1)
	+respond-to($mid-screen)
		+span-columns(12)
		+shift(0)
	.byline
		margin: 0
		padding-top: 0.1em
		border-top: 2px solid $cN-mid
	.dateline
		margin: 0
		padding-top: 0.1em
		padding-bottom: 0.1em
		border-top: 2px solid $cN-light
	.source
		margin: 0
		padding-top: 0.1em
		border-top: 2px solid $cN-light

.sequence__bd
	padding-top: 3em
    padding-bottom: 3em
	+span-columns(8)
	+respond-to($mid-screen)
		+span-columns(12)
