
.story__hd
	margin: 3em 0 0 0
	
.story__bd
	p, ul, ol, h2, h3, h4, h5, h6
		max-width: $textWidth
		margin-left: 20%
		margin-right: 5%
	aside
		p
			margin-left: 0
			margin-right: 0
		
.story__big-image
	margin: 2em 0 2em 0
	